@import './node_modules/bootstrap/less/variables.less';
@import './node_modules/bootstrap/less/glyphicons.less';

.gfx-board {
  .board-row {
    display: flex;

    .tile {
      border: 1px solid black;
      width: 30px;
      height: 30px;
      margin: 3px;
      text-align: center;
      padding-top: 0.35em;

      &.wall-u {
        border-top: 2px solid red;
      }
      &.wall-d {
        border-bottom: 2px solid red;
      }
      &.wall-l {
        border-left: 2px solid red;
      }
      &.wall-r {
        border-right: 2px solid red;
      }

      &.target {
        background-color: yellow
      }

      &.automaton {
        background-color: orange;
      }

      &.move {
        background: purple;
      }
    }
  }
}